.project-detail {

    padding-bottom: 2rem;

    &__line-rule {
        grid-column: 1/-1;
        margin-bottom: 2rem;
    }

    &__description {
        font-size: 2rem;
        padding-left: 2rem;
        padding-right: 8rem;
        text-align: justify; 
        
        @media only screen and (max-width: 50em) {
            font-size: 2.75rem;
        }
    }

    &__text-container {
        display: flex;
        justify-content: flex-end;

        @media only screen and (max-width: 50em) {
            flex-direction: column;
        }
    }

    &__tools {
        width: fit-content;
        margin-right: 2rem;
        
        @media only screen and (max-width: 50em) {
            margin: 2rem 0 0 2rem;
        }

        & > h2 {
            font-size: 2.5rem;
            margin-bottom: 1rem;
            @media only screen and (max-width: 50em) {
                font-size: 3rem;
            }
        }

        & > ul {
            list-style: none;
            display: flex;

            & li {
                margin: 1rem;
                font-size: 2rem;

                @media only screen and (max-width: 50em) {
                    font-size: 2.75rem;
                }
            }
        }
    }

}