@import '../../theme.scss';

.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem;
}

.navigation {

    grid-column: 2;

    &__links {
        display: flex;
        list-style: none;
        justify-content: center;
        padding: 1rem;
        color: $accent-orange;
    }

    &__link {
        margin: 0 .5rem;
        font-size: 2.5rem;
        padding: 1rem;
        border-radius: 3px;
        text-transform: uppercase;
        letter-spacing: 3px;
        transition: all .5s;

        @media only screen and (max-width: 70em) {
            font-size: 2.5rem;
        }

        &:hover {
            background-color: $accent-orange;
            color: $primary-color;
        }

    }
}

.social{

    grid-column: 3;

    &__links {
        display: flex;
        list-style: none;
        justify-content: flex-end;
        padding: 1rem;
    }

    &__link {
        margin: 0 2rem;
    } 

    &__icon {
        width: 4rem;
        height: 4rem;
        fill: $accent-blue;

        @media only screen and (max-width: 70em) {
            width: 4.5rem;
            height: 4.5rem;
        }

        @media only screen and (max-width: 62.5em) {
            width: 4rem;
            height: 4rem;
        }
    }
}

.navigation__links .active {
    background-color: $accent-orange;
    color: $primary-color;
}
